@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
   font-family: 'Atyp Display';
   src: url('../../public/fonts/AtypDisplay-Light.ttf') format('truetype');
   font-weight: 300;
}

@font-face {
   font-family: 'Atyp Display';
   src: url('../../public/fonts/AtypDisplay-Medium.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Atyp Display';
   src: url('../../public/fonts/AtypDisplay-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Atyp Display';
   src: url('../../public/fonts/AtypDisplay-Semibold.ttf') format('truetype');
   font-weight: 600;
}

@font-face {
   font-family: 'Atyp Display';
   src: url('../../public/fonts/AtypDisplay-Bold.ttf') format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: 'Atyp Text';
   src: url('../../public/fonts/AtypText-Light.ttf') format('truetype');
   font-weight: 300;
}

@font-face {
   font-family: 'Atyp Text';
   src: url('../../public/fonts/AtypText-Medium.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Atyp Text';
   src: url('../../public/fonts/AtypText-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Atyp Text';
   src: url('../../public/fonts/AtypText-Semibold.ttf') format('truetype');
   font-weight: 600;
}

@font-face {
   font-family: 'Atyp Text';
   src: url('../../public/fonts/AtypText-Bold.ttf') format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../../public/fonts/SF-Pro-Display-Light.otf') format('opentype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
   letter-spacing: 0.025em;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../../public/fonts/SF-Pro-Display-Medium.otf') format('opentype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   letter-spacing: 0.025em;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../../public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   letter-spacing: 0.025em;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../../public/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
   letter-spacing: 0.025em;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../../public/fonts/SF-Pro-Display-Bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   letter-spacing: 0.025em;
}

@font-face {
   font-family: 'SF Mono';
   src: url('../../public/fonts/SF-Mono-Light.otf') format('opentype');
   font-weight: 300;
}

@font-face {
   font-family: 'SF Mono';
   src: url('../../public/fonts/SF-Mono-Medium.otf') format('opentype');
   font-weight: 500;
}

@font-face {
   font-family: 'SF Mono';
   src: url('../../public/fonts/SF-Mono-Regular.otf') format('opentype');
   font-weight: 400;
}

@font-face {
   font-family: 'SF Mono';
   src: url('../../public/fonts/SF-Mono-Semibold.otf') format('opentype');
   font-weight: 600;
}

@font-face {
   font-family: 'SF Mono';
   src: url('../../public/fonts/SF-Mono-Bold.otf') format('opentype');
   font-weight: 700;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
   background-color: theme('colors.white.100');
}

body,
input,
textarea {
   font:
      400 1rem 'SF Pro Display',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;

   input[type='number']::-webkit-inner-spin-,
   input[type='number']::-webkit-outer-spin- {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield !important;
      appearance: textfield !important;
   }
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 0 transparent inset;
   -webkit-text-fill-color: white;
}

input {
   caret-color: theme('colors.black.500');
}

::-webkit-scrollbar {
   width: 0px;
   z-index: 1;

   &-thumb {
      cursor: pointer;
      border-radius: 8px;
      background: #c5c5c5;
   }
}

.scrollbar-hide::-webkit-scrollbar {
   display: none;
}

.scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
